[2022-05-02 09:48] hannesdatta commented on #381
Potentially also define other ways to bundle content

[2022-05-02 09:50] hannesdatta opened #382 "retargeting campaign on google"

[2022-05-02 09:54] hannesdatta opened #383 "create type writer effect"

[2022-05-03 15:01] casruger commented on #338
Implemented the tour page pull request #385

Could not find out how to remove the tour page for researchers, so this still has to get done.

[2022-05-03 15:31] casruger commented on #365
Created pull request #386

[2022-05-06 11:02] casruger opened #388 "redesign landing page (i.e., remove large texts) + implement new tutorial landing page following examples"

[2022-05-06 11:08] casruger commented on #365
Running two tests
Firstly, 50% of the homepage visitors will see the original homepage, the other 50% will see the homepage with fewer text in the three blocks and with more call to action written texts:
![image](https://user-images.githubusercontent.com/51459017/167120273-ff8393c1-868b-4319-96e5-e3018328aea4.png)

Secondly, 50% of the README best practices page (https://tilburgsciencehub.com/buil

[2022-05-06 11:22] hannesdatta commented on #365
Any results - you turned this on a couple of days ago already right?

[2022-05-10 15:18] #367 closed

[2022-05-10 15:20] hannesdatta opened #390 "refine descriptions for tutorials"
Hey @casruger,

I implemented the new tutorial landing page.

Can you please revise the DESCRIPTIONS in _index.html of the respective tutorials so that the landing page for tutorials looks "good"? Right now, the descriptions may not always be good to get attention (they haven't been shown earlier so we didn't pay much attention).

Any other feedback on the new landing page?

See

https://tilburgsc

[2022-05-10 15:24] hannesdatta opened #391 "New feature: provide searchable database of replication packages"
I'm in touch w/ Pam to coordinate about the data format and will create the necessary documentation in this issue.

[2022-05-12 20:41] hannesdatta opened #392 "track use of tour page"
I have revised the wording of the tour page here and there.

I feel the building block section is still a bit wordy - we could aim to reduce it more. But - for now, it's good to go? Can you please track the use of the search on the tour page to decide whether we want to keep it or not?

_Originally posted by @hannesdatta in https://github.com/tilburgsciencehub/website/issues/385#issuecomment-11254

[2022-05-14 11:33] casruger opened #393 "Make the homepage version used in a/b test with fewer text permanent"
Since the fewer text version of the home page was the favorite in the test, implement this version on the live site.
See issue #365 for more detail about the test

![image](https://user-images.githubusercontent.com/51459017/168423901-3121527e-babd-4fb3-aa52-7c2ed58495e5.png)

[2022-05-14 11:34] casruger commented on #365
Since the behavior flow of the visitors is better in the fewer text variance we implement this one permanently.

Dropout rate on the home page with all the links was 63.1 (this is the percentage of people seeing the homepage and then leaving)
The dropout rate of the home page with the fewer text was 52.6.
In addition, the tutorials and building blocks page were visited more on the fewer text varia

[2022-05-14 11:34] #365 closed

[2022-05-16 07:56] hannesdatta opened #396 "[Bug]: Move background up + search icon to the right place"
### Contact Details

h.datta@tilburguniversity.edu

### What happened?

The new landing page broke the positioning of our background pic:

![image](https://user-images.githubusercontent.com/16557730/168545680-1729405c-4c65-4090-a774-e693144cd354.png)

The rounded white shape needs to move up.

### To reproduce

_No response_

### What browsers are you seeing the problem on?

Firefox

### Optional

[2022-05-17 11:12] #393 closed

[2022-05-17 11:24] hannesdatta commented on #381
Revised doc - will check w/ @srosh2000 about focus and which tutorial to start with

[2022-05-17 11:43] hannesdatta commented on #375
@andreantonacci - can you help us out on this one, please? We're trying to make our page become more dynamic, but somewhat don't find the right market places to hire jordan-like quality illustrators. any pointers?

[2022-05-17 11:44] hannesdatta opened #397 "mention correct number of tutorials on site (should be 13 now I think)"

[2022-05-17 11:56] hannesdatta commented on #390
length - 3 lines

[2022-05-17 12:04] andreantonacci commented on #375
@hannesdatta Umh, have you tried on [Dribbble](https://dribbble.com)? Not sure you can post a job for free, but you can definitely find someone and then reach out privately to them, that's how we scouted Jordan

[2022-05-17 14:21] hannesdatta opened #398 "remove collapsible tour page in menu"

[2022-05-17 14:36] hannesdatta opened #399 "fix landing page"
<img width="915" alt="image" src="https://user-images.githubusercontent.com/16557730/168837609-6f0185af-1284-4840-b567-554282fb0f17.png">

[2022-05-17 15:48] srosh2000 opened #400 "How to get started working on replication package?"
### Contact Details

_No response_

### Is your content request related to a problem you've encountered during your research process? Please describe.

Replication packages are at the core of responsible data management in research.
Currently, there aren't many proper how-to guides or replication databases.
This building block can be seen as a how-to guide on replication packages.
 @hannesdatta ha

[2022-05-19 09:57] hannesdatta opened #401 "A/B tests on examples and building blocks"
Cas, could you pls run A/B tests, swapping the term "EXAMPLES" (in the menu, on index.html, in the descriptions etc) with "Case studies"? Further, could you swap "Building blocks" by "Code snippets"?

I'm curious whether the labeling may help users click more on these things.

Makes sense?

[2022-05-19 09:57] hannesdatta commented on #401
let me know if this doesn't make sense...

[2022-05-19 10:06] casruger commented on #362
@hannesdatta  what do you think if we add the following section to the homepage? This would not be dynamic though since we need to make the image in photoshop.
If you like the idea I will make the image better and make a pull request.

![Image](https://user-images.githubusercontent.com/51459017/169268135-e0060eda-5afe-45bc-bf36-9ba5b375bbdb.png)

[2022-05-19 10:43] casruger commented on #397
Created pull request #402

[2022-05-19 10:47] casruger commented on #396
The background on the homepage moved down too much. The curve where the white part begins should be just above the text "Code like a pro." and the loop image. So both the first image and text should be inside the white, while they are partly in blue now.

[2022-05-19 10:57] casruger commented on #376
We would like to identify first-time visitors to give them a pop-up highlighting the tour page.
Therefore, the first question is, is it possible to identify these first-time visitors, and secondly, is it possible to give them a small pop-up or have a blinking highlit dot next to the tour page, only for the first-time visitors.

The pop-up would preferably look like the blue box in the image which

[2022-05-19 12:44] hannesdatta commented on #376
Which site is this?

[2022-05-20 10:39] casruger opened #403 "Track number of search bar header and homepage usage"

[2022-05-20 11:35] casruger opened #404 "Replace search bar with tutorials on the homepage"
In optimize we can target new visitors with a different version. Might be interesting to replace the search bar with a tour and or tutorial button.

[2022-05-20 12:02] casruger commented on #390
Shortened the description of the tutorial principles of project setup and workflow management #405

[2022-05-20 12:02] #390 closed

[2022-05-24 12:27] #403 closed

[2022-05-27 11:09] casruger commented on #401
Added a tag manager that tracks the usage of the header menu. Can be found in Google analytics > Event overview> Header menu clicks
And made the A/B test in optimize, can be launched if you have had a look at it.

[2022-05-27 11:13] casruger commented on #380
Read it and created some drafts

[2022-05-27 11:13] #380 closed

[2022-05-27 19:47] BilgeKasapoglu opened #407 "[Development Call]: Prepare Descriptive Statistics Tables and Graphs on Stata"
### Contact Details

b.kasapoglu@tilburguniversity.edu

### Is your content request related to a problem you've encountered during your research process? Please describe.

I have been trying to find a way to create publishable Descriptive Statistics tables and graphs on Stata. I think it would be nice to have a tutorial showing these. There are so many pieces of information all over the Internet b

[2022-05-27 19:48] BilgeKasapoglu commented on #407
- [ ] Prepare a do.file to create graphs
- [ ] Prepare a do.file to create tables

[2022-05-27 19:54] BilgeKasapoglu opened #408 "[Development Call]: Tutorial on Lapply and Mutate on R"
### Contact Details

b.kasapoglu@tilburguniversity.edu

### Is your content request related to a problem you've encountered during your research process? Please describe.

Yes, it is. I found it very difficult to find a good resource on mutate function in R, especially if you want to use an if statement inside the mutate function. I think it would be great to have a tutorial on lapply and mutate f

[2022-05-31 09:38] hannesdatta opened #410 "fix google analytics on a few of our domains"
e.g., web-scraping.org - we don't get live tracking data although we're on the site (or, it's really delayed). same with odcm.hannesdatta.com and dprep.hannesdatta.com and thesis.hannesdatta.com.

[2022-05-31 09:39] hannesdatta opened #411 "port GA property to GA-4 property"
right now we're using a legacy tag but we need to use the new GA-4 version of our tracking code. Please kindly implement at tilburgsciencehub.com.

[2022-06-01 14:14] hannesdatta opened #412 "Port repos to Bookdown"
For an open education project by @gknox79, this repository (https://github.com/tilburgsciencehub/course-customer-analytics) needs to be ported into an ebook format - using https://tilburgsciencehub.com/make/ebooks/?utm_campaign=referral-short. I feel bookdown may be the most appropriate thing.

The look and feel of this web book/ebook need to be similar to https://r-graphics.org/  or https://rafal

[2022-06-01 14:41] hannesdatta opened #413 "verify tour page looks the way it's supposed to look"
Hey @srosh2000 and @casruger - I just merged some PRs, and had a few conflicts on the tour page. Can you confirm the tour page now looks how you intended it to look?

Thanks!

[2022-06-01 14:43] hannesdatta opened #414 "add new example"
Please add this fantastic ebook/web companion as an example item to our page:

https://hschuett.github.io/BayesForAccountingResearch/

@hschuett is a colleague from accounting at TiSEM!

[2022-06-02 07:41] casruger commented on #401
Started the experiment where 'building-blocks'> 'code snippets' and 'examples'> 'case studies'

[2022-06-02 08:11] casruger commented on #338
The new and finalized tour page is live.
If @hannesdatta could remove the research tour page, every thing is done
https://tilburgsciencehub.com/researcher-tour/

[2022-06-02 10:16] casruger commented on #404
Replaced the search bar with call to action buttons in a A/B test for new visitors.
![Image](https://user-images.githubusercontent.com/51459017/171608335-f2d16722-45eb-417a-a550-45bcf8957efd.png)

[2022-06-02 10:52] #397 closed

[2022-06-02 11:11] #398 closed

[2022-06-07 08:15] hannesdatta opened #417 "Development Call: How to anonymize data?"
### Contact Details

h.datta@tilburguniversity.edu

### Is your content request related to a problem you've encountered during your research process? Please describe.

Recently came across this R package - https://cran.r-project.org/web/packages/synthpop/index.html.

It guides you in making a synthetic dataset, based on actual data (i.e., it retains correlations in the data, but removes any identi

[2022-06-09 10:15] casruger commented on #372
Retargeting display idea

Learn open science w/
Tilburg Science Hub
More than 10 tutorials, offered for free
Learn at your own pace
Start today

![Image](https://user-images.githubusercontent.com/51459017/172823890-e7eeb8c6-22d0-4338-bd4f-1e9dce713b91.png)

[2022-06-09 10:54] #338 closed

[2022-06-09 10:57] casruger opened #418 "uitschrijven issue's voor developer according to https://tilburgsciencehub.com/write/issues/?utm_campaign=referral-short"

[2022-06-09 10:58] casruger commented on #418
+ Plan a meeting with developer asking if every thing is clear and what the time estimation would be

[2022-06-09 11:08] hannesdatta opened #419 "remove linkedIn header (prob in index.html; comment out pls)"

[2022-06-09 11:18] hannesdatta opened #420 "contribute or seek inspiration from https://opensciencefestival.nl/call-for-open-science-awards-2022/?"

[2022-06-09 11:19] casruger opened #421 "Change 'Edit this page' to 'Request changes to this page'"
In the last month, 9 people clicked the 'Edit this page' button, however, no changes were created.
It might be a lower boundary to request a change via an issue which could be the first step. Therefore it might be interesting to change the button to Request changes to this page and then lead them to an issue instead of the source code of the page.

[2022-06-09 11:22] casruger opened #422 "let researcher post new content and get it shared as being a contribution"
We could partner up with a researcher that would like to see some content on the platform. When this content is added we could share this on LinkedIn and Twitter 'Thanks to the contribution of [name] we now have [content]' If you have any content recommendation click here. Or to see the content click here

This way our followers see that they can interact/contribute, and we get exposure if the res

[2022-06-09 11:23] casruger commented on #422
Use case Customer Analytics potential

[2022-06-09 11:54] hannesdatta opened #423 "update tsh slide deck w/ user and behavioral stats"

[2022-06-12 10:28] casruger commented on #419
Created pul request #424

[2022-06-12 10:28] #419 closed

[2022-06-12 11:29] casruger commented on #366
In summary, we would like to make a dynamic onboarding like the sites mentioned above (https://react-joyride.com/). We would like the onboarding to start when someone clicks on the 'tour' in the menu or on the 'take the tour' button below the search bar on the home screen. Our preference goes to open source options.
In the tour we would like to highlight the building blocks, tutorials, case studie

[2022-06-12 11:42] #418 closed

[2022-06-14 11:22] hannesdatta opened #425 "move regression content to Tilburg Science Hub"
Hi @srosh2000 and @BilgeKasapoglu,

I need this content (https://dprep.hannesdatta.com/docs/building-blocks/regression-analysis/) to move from the dprep site to Tilburg science hub.

Please make individual building blocks, and wrap it up in a tutorial that links to these building blocks. The tutorial should be narrative, as the existing ones.

The tutorial will be used for the upcoming dprep editi

[2022-06-14 11:55] casruger commented on #423
Made dia 35 and 37 more aesthetically pleasing and added dia 36 which shows the growth of content and the returning users.
The number of building blocks and tutorials are a rough estimation, if you know the accurate numbers please correct them.

[2022-06-14 11:55] #423 closed

[2022-06-14 15:15] hannesdatta opened #426 "write proper overview/intro to building block on git"
We were about to promote https://tilburgsciencehub.com/building-blocks/collaborate-and-share-your-work/use-github/github-workflow/ on LinkedIn/Twitter, but after following the link ourselves, we realized that users may totally not get what this is all about. In short, we're missing a proper introduction to the content.

Deliverable: an updated building block that can be understood for (a) users th

[2022-06-18 17:28] srosh2000 commented on #425
Hi @hannesdatta ,
I can work on this. Just to make sure I understand the task right, we would have building blocks namely:
- evaluate model assumptions
- outlier screening
- model reporting
- visualise linear relationships
- predictions
and the tutorial would tie these together by giving overview of reg analysis and descriptions for each step while linking to building blocks?

[2022-06-20 10:33] srosh2000 commented on #426
@hannesdatta Just drafted an intro and made pull request. Lemme know if it fits well or needs further improvement.

[2022-06-21 06:36] hannesdatta opened #430 "#contributors?"
Hey @casruger,

didn't we already put live the little thumbnail preview of contributors etc plus mentioning the #visitors? I don't see that on the site anymore...

Lemme know pls!

[2022-06-21 12:01] casruger opened #431 "Offline advertisments targeting Tilburg University researchers"

[2022-06-21 12:14] srosh2000 commented on #425
https://tilburgsciencehub.com/building-blocks/analyze-data/regressions/regression-analysis/

just noticed we have this content... should we remove this then? cuz the tutorial would cover all of it by linking separate building blocks

[2022-06-21 12:17] #426 closed

[2022-06-21 12:25] hannesdatta opened #432 "enhanced contributors page"
We could at a list of all the names that contributed to the site. This shows our gratitude and could be an incentive for some people to be on the list.

[2022-06-21 12:26] #430 closed

[2022-06-21 12:52] casruger opened #433 "Check our onboarding for researchers"

[2022-06-21 12:53] casruger opened #434 "Share the growth on Twitter"
Make a post showing the exponential growth with text 'crossing the 4.000 visitors per month'

[2022-06-21 12:55] casruger commented on #372
Since a lot of the clicks come from India, Bangladesh, and Iraq we split up the budget between current visitors and start a new campaign targeting The Netherlands

[2022-06-21 12:57] hannesdatta commented on #425
yes - makes sense.

[2022-06-21 12:58] hannesdatta commented on #425
if possible, retain the shortlink somehow (tsh/learn/regression, i.e., port that to the new page)

[2022-06-21 13:07] hannesdatta opened #435 "add instructions to making dev branches"
See here for a description of the issue (i.e., how to use GitHub to create development branches): https://github.com/tilburgsciencehub/website/pull/427

[2022-06-22 19:36] heyarviind commented on #366
@casruger can you provide more info like what information we want to show (in the popover) to the users? like the copy (heading description) and the total how many tooltips we want to show.

[2022-06-22 19:38] heyarviind commented on #410
@hannesdatta can you please provide (if you can) GA credentials, so that I can debug the problem.

[2022-06-22 19:39] heyarviind commented on #376
@casruger can you provide more information like where to show these dots to the first-time users? I can create a demo for you to see, if things go well we will merge it in the main website

[2022-06-23 10:19] casruger commented on #372
Copied existing campaign which only targets The Netherlands splitting the budget 50/50 between worldwide audience and The Netherlands

[2022-06-23 11:24] casruger commented on #362
Closed with pull request #437

[2022-06-23 11:24] #362 closed

[2022-06-23 11:40] casruger commented on #421
Closed with merged pull request #438

[2022-06-23 11:40] #421 closed

[2022-06-24 13:12] casruger commented on #435
Added the information on the workflow guideline see pull request #439

[2022-06-24 13:12] #435 closed

[2022-06-24 13:29] casruger commented on #433
@hannesdatta the onboarding for Researchers (https://github.com/tilburgsciencehub/onboarding/wiki/Onboarding-for-Researchers) in combination with our other onboarding guide pages seems clear to start working in my opinion. However, as I'm reading it, the onboarding is for researchers who want to make use of our RA pool. If this is correct I would maybe be more specific about when and how they can

[2022-06-28 07:54] hannesdatta opened #442 "make separate cheatsheet building block "make""
Currently, the make cheatsheet is listed here (but not so clearly visible): https://tilburgsciencehub.com/learn/makefiles/?utm_campaign=referral-short

Please create a separate building block w/ an overview about why make/cheatsheet is useful, and a screenshot of the cheatsheet, and a yellow download button. See for example latex cheathsheet here: https://tilburgsciencehub.com/learn/latex-math/?ut

[2022-06-28 11:07] hannesdatta commented on #433
Let @hannesdatta and @kleintob decide on the next onboarding steps for researchers in a next strategy meeting.

[2022-06-28 11:07] hannesdatta opened #443 "get list of acknowledgements from users of TSH (internal)"

[2022-06-28 11:07] hannesdatta opened #444 "update budget"

[2022-06-28 11:09] hannesdatta commented on #345
Add #users to site in next post, plus say we're making more and more tutorials.

[2022-06-28 11:13] hannesdatta commented on #372
Pls add brief bullet point description of progress & screenshot of campaign, @casruger

[2022-06-28 11:17] hannesdatta commented on #404
Run new A/B test on updated landing page, @casruger will post screenshot and results will be discussed next week.

[2022-06-28 11:19] hannesdatta commented on #401
@casruger adds a PPTx w/ results; no conclusive results. We keep it as is.

[2022-06-28 11:20] hannesdatta opened #445 "Sharing non TSH content on LinkedIn and Twitter"
We currently use LinkedIn and Twitter as sort of marketing tool. I think the community would expand if we shared interesting stuff for researchers and students for which we receive no benefits. Like interesting papers on open science, or news from Tilburg University that researchers might like. That way people use us as a kind of news channel and we could expand our following.

I am not in the pub

[2022-06-28 11:21] hannesdatta commented on #445
@lachlandeer - would you be willing to take over the Twitter account for some time to keep building our network?

[2022-06-28 11:27] hannesdatta commented on #431
explore instagram targeting

[2022-06-29 09:34] casruger commented on #401
[Renamening case studies and code snippets test results.pptx](https://github.com/tilburgsciencehub/website/files/9009269/Renamening.case.studies.and.code.snippets.test.pptx)

[2022-06-29 09:41] casruger opened #446 "Replace search bar with tour buttons on homepage for all visitors"
Since the succes of #404 we want to test this on all visitors rather than only new visitors. This also offers the option of adding 'see our latest content'. Added 2 variance see screenshots below.
Original:

![Image](https://user-images.githubusercontent.com/51459017/176421963-59122b7b-3d3f-4f9c-add6-a8ad471aee90.png)

Variant 1:

![Image](https://user-images.githubusercontent.com/51459017/1764220

[2022-06-29 09:41] casruger commented on #404
Very good results in favor of the new test page (with buttons rather than the search bar). Lower drop-off rates and higher pages per session in favor of the test page. Therefore this test will also be held on all visitors. See issue #446

[Search bar or buttons on homepage test results.pptx](https://github.com/tilburgsciencehub/website/files/9009291/Search.bar.or.buttons.on.homepage.test.results.p

[2022-06-29 09:41] #404 closed

[2022-06-29 11:09] casruger commented on #377
Updated in the test of #446

[2022-06-29 11:09] #377 closed

[2022-06-29 11:36] casruger commented on #372
- We have had 2,820 impressions and 50 clicks from The Netheralands
- We have had 61,000 impressions and 1,770 clicks world wide
- In total we have spent 21.17 + 3.95 = 25.12 euro by 29-06

An overview of the audience:

![Image](https://user-images.githubusercontent.com/51459017/176426983-e22794eb-52a9-4760-bea0-c4b71d64f61d.png)

The session duration of especially The Netherlands is very low and

[2022-06-29 19:39] BilgeKasapoglu opened #447 "Suggest change to: building-blocks/analyze-data/regressions/regression-analysis.md"
### Contact Details

_No response_

### Describe the problem. Is this a small fix (typos, few sentences...) or does it require more elaborate changes (modifying, adding or removing an entire paragraph or chapter, modifying the content structure...)?

I think in the outreg2 section, it would be good to mention about how to add specific statistics (F-stat, etc.) and how to visualize these statistics

[2022-06-30 11:37] casruger opened #448 "Building block personal data pseudonymizing/anonymizing"
### Contact Details

_No response_

### Is your content request related to a problem you've encountered during your research process? Please describe.

Pam wrote a short introduction on protecting personal data by pseudonymizing/anonymizing (see attached file). I think we could make three building blocks out of this and maybe combine these in a tutorial, but let's start with the building blocks fi

[2022-06-30 15:09] casruger commented on #376
@heyarviind we would like this pulsing dot to appear next to the tour button (see screenshot). And we would like it to stay there during the full first session of the visitor. The header is visible from every page and moves with scrolling, so we would like the dot to be visible from every page as well. Again, the dot should disappear once the visitor clicked on the tour button or comes back for a

[2022-07-01 11:08] casruger commented on #366
@heyarviind I made a draft in pdf how we would want it to look like. It are five popovers (steps) all pointing to the menu items in the header with the following texts:

Our **Tutorials** bundle, simplify and structure valuable information to ensure a smooth learning experience

**Building blocks** are the DNA of our platform. They offer specific information on all kinds of topics including code s

[2022-07-04 13:41] casruger commented on #434
See tweet :
https://twitter.com/tilburgscience/status/1542850178566467584

[2022-07-04 13:41] #434 closed

[2022-07-05 10:40] casruger commented on #431
I made a couple of drafts, but I think it would be useful to share some thoughts on what we would like to communicate.
https://docs.google.com/presentation/d/1BNOTva3oGG_hsYAWcghsQPBmgtBFizo8MEnhVceAo5o/edit?usp=sharing

[2022-07-05 13:48] casruger opened #450 "Instagram and Facebook ads"
With Instagram and Facebook ads we have more control in the visibility of the ads (rather than some were in a app as we have seen with Google display). In addition Facebook has a relative good targeting system with which we can target Tilburg University researchers:

![Image](https://user-images.githubusercontent.com/51459017/177321749-eb5f7734-58c9-4bb8-ad4b-b36f4451cd99.png)

And other interests

[2022-07-05 13:51] casruger commented on #345
Share the stories of our team members. For inspiration see: https://www.linkedin.com/company/mysteryminds/
We could do a series of meeting the team, or promote for example Roshini when a new tutorial or building block gets launched which she wrote.

[2022-07-05 13:56] casruger commented on #431
An other interesting ad could be:
Hey researcher what do you do this summer? Get to know open science and contribute to Tilburg Science Hub.

[2022-07-05 13:58] casruger opened #451 "Think about offline advertisement for the start of the year"
Think about some offline advertisements we could have for the start of the new school year.

[2022-07-05 14:00] casruger commented on #451
Custom door hanger on every door in K
A4 with text, which we can put in every inbox in K

[2022-07-05 14:18] casruger opened #452 "[Development Call]: Install Stata Packages"
### Contact Details

_No response_

### Is your content request related to a problem you've encountered during your research process? Please describe.

It is currently not explained how to install packages in Stata. Please add this information in the same we did it for python namely, by adding a page called Install Stata Packages.

### Additional context

_No response_

### Would you like this to

[2022-07-05 14:22] casruger opened #453 "[Feature]: Check for unique short links"
### Contact Details

_No response_

### Is your feature request related to a problem? Please describe.

We use short links for every page which could lead to two pages with the same short link.

### Describe the solution you'd like

A python script that checks all (short) links and whether the new one is unique.

### Describe alternatives you've considered

_No response_

### Additional context

_

[2022-07-06 11:36] #446 closed

[2022-07-06 11:36] casruger opened #455 "New homepage with recent post section"
From test #446 the best variant was a new homepage layout with a recent post section and buttons rather than the searchbar. Therefore, we should make this our new homepage layout

[2022-07-07 06:41] hannesdatta commented on #431
I like this.

[2022-07-13 10:00] casruger opened #457 "Re-arrange tutorials"
The current topics under tutorials are probably not what our visitors are searching for. Re-naming and arranging them would make the site more logical. Don't forget to add re-directs (alliance) to the tutorials!

[2022-07-16 15:39] BilgeKasapoglu commented on #412
Dear @hannesdatta,

I have been having hard time to post the content to GitHub pages. You said that you would like to see the content on a website. I tried using the Github pages. However, I cannot see my files on the website as you can see here: https://bilgekasapoglu.github.io/customer-analytics-bookdown/ . Then, I considered using Hugo to publish the website but I could not. Would you please he

[2022-07-18 07:22] heyarviind commented on #376
@casruger starting with this, will push an update by tomorrow to review

[2022-07-18 09:48] casruger commented on #450
Instagram and Facebook advertisement has been started with a budget of 1 euro per day based on the same layout used as in the google display advertisements.

![Image](https://user-images.githubusercontent.com/51459017/179486534-b98215b9-cb5e-43b3-a72d-20eb77a14a61.png)

With the following audience:

![Image](https://user-images.githubusercontent.com/51459017/179486662-d4f66a5c-0966-4f71-8b1e-aaab1

[2022-07-18 09:49] #455 closed

[2022-07-19 09:59] casruger commented on #457
See pull request #459

[2022-07-21 09:25] casruger opened #460 "Increase our SEO score"
Our SEO score dropped with the latest algorithm change from Google. Therefore, look in to the ways we could improve our SEO (better descriptions, improve keywords etc.)

![Image](https://user-images.githubusercontent.com/51459017/180180130-59b097fa-2a6d-4c33-ba64-fcfb53b8ab3c.png)

[2022-07-21 09:28] casruger opened #461 "Project specific targeting"
Try more specific advertisements. For example, people searching for research automation > 'learn how you can automate  ... in your research'

[2022-07-21 15:20] casruger opened #462 "Check broken links in Google Analytics"
Track on which urls the 404 error message appears in Google Analytics

[2022-07-21 15:25] casruger commented on #462
A custom report has been created. To see this add the following report to your website data : https://analytics.google.com/analytics/web/template?uid=SuEcg3WsSN-azdE_GMSogw

[2022-07-21 15:25] #462 closed

[2022-07-21 15:26] casruger opened #463 "Fix broken links via search for tutorials with multiple pages"
Tutorials with multiple pages can be found via the search bar, but when someone click on them they will be redirected to a 404 page.

[2022-07-21 15:55] casruger commented on #463
Fixed with pull request #464

[2022-07-21 15:55] #463 closed

[2022-07-22 07:38] hannesdatta commented on #432
Done w/ the first draft!

<img width="226" alt="image" src="https://user-images.githubusercontent.com/16557730/180388634-c676cf45-87db-48d8-b9f3-9849a9a4e21e.png">

<img width="756" alt="image" src="https://user-images.githubusercontent.com/16557730/180388699-f9004af6-d143-4a71-bbe1-6520a6d66fc9.png">

[2022-08-08 10:17] casruger commented on #450
For some reason Facebook denied our advertisements. I requested a review to see what guidelines we did not follow.

[2022-08-11 18:08] casruger commented on #460
Our current page descriptions could be improved by making them around 150 characters and including important keywords.
Improve our page descriptions : https://docs.google.com/spreadsheets/d/1naZtS0ORqzXjb2AElcJ-Spsto8zA-7Ha-dT0QFvelmU/edit?usp=sharing

[2022-08-17 16:54] casruger commented on #460
Checked the broken links in Google Search Console and made redirections where needed. Pull request #471

[2022-08-17 17:22] casruger opened #473 "Inprove page speed"
Our current loading speed of the homepage is a bit on the slow side. Improving this will help us with increasing our SEO

[2022-08-17 18:10] casruger commented on #473
Home page images below the fold are loaded 'lazy'. LinkedIn follower counter is loaded 'lazy' with async. #474
Improved loading speed see screenshots below:

![Image](https://user-images.githubusercontent.com/51459017/185211837-86df3c7e-58df-4e57-ac82-130e238e3246.png)

![Image](https://user-images.githubusercontent.com/51459017/185211919-a59245df-8d93-4fee-bc52-ef3dd660d10f.png)

[2022-08-17 19:28] casruger commented on #473
Turned off goolge optimize which increased the page speed again by a bit, so if a/b tests are starting put this back on in the head.

![Image](https://user-images.githubusercontent.com/51459017/185225985-b288a290-2f6e-4f5a-8aa4-dda2fe9ae394.png)

[2022-08-17 19:37] casruger commented on #473
Removing the LinkedIn plugin in the footer increases our score by 6 points. This might be something to consider, whether we want it, or the SEO points.

![Image](https://user-images.githubusercontent.com/51459017/185227569-593d4c82-6d65-4817-b158-e845f2921dfc.png)

[2022-08-20 14:15] casruger commented on #473
Asyncing every script in the header improved our score by a lot. We should try the same with the unnassecary js scripts https://web.dev/defer-non-critical-css/

![Image](https://user-images.githubusercontent.com/51459017/185750601-69a4bab1-c41d-461c-b89b-ff6de8e368d8.png)

[2022-09-04 16:36] casruger commented on #450
Started a second campaign with the same images used in Google display ads 'kickstart your campaign'.
Targeting tilburg university students in the year 2022 till 2026 and with an interest in python, r, data science or analytics.

![Image](https://user-images.githubusercontent.com/51459017/188323838-a67eb281-8be4-4f4d-a0b5-8327ecb802b7.png)

[2022-09-05 10:50] hannesdatta opened #489 "update documentation + signin procedures"

[2022-09-05 10:52] hannesdatta commented on #489
- [ ] add to onboarding guide the new ad services we are using (all in one place)
- [ ] best practices in sharing accounts
- [ ] getting our accounts for 2 factor authentication

[2022-09-05 10:54] hannesdatta opened #490 "add twitter button in footer"

[2022-09-05 11:04] hannesdatta opened #491 "by end of september: small presentation about ad effectiveness/experience on the site (+ budget spent, etc.) + defining way forward"

[2022-09-05 11:04] hannesdatta opened #492 "organize jeu de boule OR pool for new joinees + some brainstorm session"

[2022-09-05 11:09] hannesdatta opened #493 "deprectate tilburg education hub"

[2022-09-05 11:19] hannesdatta opened #494 "provide login credentials twitter lachlan"

[2022-09-05 11:24] #457 closed

[2022-09-05 13:04] casruger commented on #345
Meet the team posts:
https://docs.google.com/document/d/15Aj21oNC52XJALissppx9rM5z1t-9r_iir9-xAsk32k/edit?usp=sharing

[2022-09-07 13:25] bodr101 opened #495 "Suggest change to: building-blocks/configure-your-computer/statistics-and-computation/latex.md"
### Contact Details

b.deruijter@tilburguniversity.edu

### Describe the problem. Is this a small fix (typos, few sentences...) or does it require more elaborate changes (modifying, adding or removing an entire paragraph or chapter, modifying the content structure...)?

a code to download a certain package using brew cask has been changed. So, only one line needs to be changed in the article.

###

[2022-09-07 14:26] #490 closed

[2022-09-07 14:27] casruger commented on #490
Done with pull request #496

[2022-09-07 14:30] casruger commented on #473
A higher score can be achieved by prioritizing important CSS style's. However, this often lowers the layout shift. For now, the current score is sufficient.

[2022-09-07 15:54] casruger opened #497 "Add 150 character to description in contribution pages + other head tags"
The description tag should be around 150 characters, but this is not mention anywhere. Therefore add this to the contribution page

[2022-09-07 15:57] casruger commented on #497
The tags at the top of every page is not explained anywhere yet. Therefore I added this to the contribution page within the style guidelines. Let me know what you think, pull request #498

[2022-09-08 09:10] casruger opened #499 "[Bug]: Search doesn't work"
### Contact Details

_No response_

### What happened?

New visitors on mobile can't use the menu and the search function in the menu.

### To reproduce

On mobile, open new incognito session, go to tilburgsciencehub.com, click on the search icon.

### What browsers are you seeing the problem on?

_No response_

### Optional log output

_No response_

### Code of Conduct

- [X] I agree to follow t

[2022-09-08 09:28] casruger commented on #499
Some async in the header couses this fixed with pull request #500 but try and pinpoint further

[2022-09-08 09:39] casruger commented on #499
Async of /js/terminal.js coused this issue. The async has been removed leading it to load faster and preventing this issue. #503

[2022-09-09 10:52] casruger commented on #489
Added our marketing channels (social media and advertisement) to the onboarding https://github.com/tilburgsciencehub/onboarding/wiki/Website-visitors-data-and-marketing-channels

[2022-09-09 11:02] casruger commented on #489
Google ads has been set up correctly for 2step authentication since you can add new accounts with their own email. Keeping tsh@tilburguniversity.edu the main account. The same way google analytics works.

[2022-09-09 11:07] casruger commented on #489
@hannesdatta could you confirm that this is your facebook? https://www.facebook.com/hannes.datta
If so, I could make you the main account for the facebook page's and advertisements.

[2022-09-09 11:09] casruger commented on #489
For Twitter we currently have shared our login information, we could get started with https://tweetdeck.twitter.com/. Here yo can invite individual Twitter accounts to manage the main account just like on LinkedIn.

[2022-09-09 15:01] casruger opened #505 "Finisch Stata tutorial"

[2022-09-09 15:08] casruger commented on #505
Re-wrote the tutorial #504

[2022-09-12 06:04] heyarviind commented on #376
https://github.com/tilburgsciencehub/website/issues/366

Also now these two issues are the same? we need to show a pulsing dot with the explainer tooltip for first-time visitors right?

[2022-09-12 08:35] hannesdatta commented on #505
Merged PR

[2022-09-12 08:35] #505 closed

[2022-09-12 08:35] #494 closed

[2022-09-12 12:23] hannesdatta opened #506 "scrum system for TSH"
__Deliverable:__
- A4 w/ "how we do scrum at TSH"
- edited onboarding guide so it's all up-to-date
- meeting schedule + appointments booked w/ everyone

[2022-09-12 12:25] hannesdatta commented on #492
- Datumprikker

[2022-09-12 15:49] hannesdatta commented on #278
__UPDATED DELIVERABLES__: Develop GitHub Actions to scan for broken links on Tilburg Science Hub and subsequently create a new issue flagging those broken links.

*Background:*
We use a lot of external links on our site, and some may break. We need a way to get notified about these broken links soon, and - if possible - in an automated way.

*How I think this can be solved:*
GitHub actions automat

[2022-09-12 15:52] hannesdatta opened #507 "clean up board, create card views for new team members"
With many new team members, please perform some maintenance on the board.

- Remove team members who have left us; re-assign issues if needed
- Create new overview cards on the board for new team members
- Ensure that recently created cards are assigned to team members, and appear in the correct column(s) on the Scrum board
- Make the board the place where TSH team members begin their day - I have

[2022-09-12 16:57] casruger commented on #499
Plus, search does not work on both mobile and desktop.
Search "pipeline" and press enter does not give any suggestions.

[2022-09-12 18:36] hannesdatta commented on #499
Just checkout an older version -- hashed ac5cd3590543a1a31a8fad51fddd5b63c483938c from beginning of august 2022 -- and launched locally. search works then. I would diff/compare the state of index.html and corresponding headers/footers to identify which script exactly is causing these issues.

[2022-09-12 19:04] hannesdatta commented on #499
found the bug:

[code]

these scripts cannot be loaded with `defer` because then the order in which these scripts become available is incorrect (think main.js depends on algolia's two scripts above).

this is a solution in case our site speed drops tremendously. there is quite some talk online that this may happen I believe. w/ webpack, we could bundle all of these scripts and then combine them wh

[2022-09-12 19:05] hannesdatta opened #508 "check site performance"
Check site performance after implementation of #499, in a few weeks from now (let's say 2-4). did we drop again? then we need to bundle the algolia scripts as described in #499.

[2022-09-13 12:57] casruger opened #509 "Set up Scrum method for everybody to follow"

[2022-09-13 12:59] casruger commented on #431
Look at the possible offline methods with which we can advertise on campus like folders, posters etc.

[2022-09-13 13:30] hannesdatta opened #510 "Imrpove seo"
Perform SEO checks (e.g., using SEO spy suit) on our website, and define follow-up actions. Discuss these follow-up actions and their prioritization w/ Hannes, so we can decide which ones enter production.

[2022-09-13 13:31] hannesdatta opened #511 "idea: workshops for 1st/2nd year students"

[2022-09-16 07:54] hannesdatta opened #513 "[Edit]: Renaming Blade to HPC"
### Contact Details

h.datta@tilburguniversity.edu

### Describe the problem. Is this a small fix (typos, few sentences...) or does it require more elaborate changes (modifying, adding or removing an entire paragraph or chapter, modifying the content structure...)?

The name of the Blade computing environment has changed to HPC TiU (High-Performance Computing).

Please update all references to the

[2022-09-16 10:01] #497 closed

[2022-09-16 10:02] #460 closed

[2022-09-16 10:08] casruger commented on #320
Since this has been online for 5 months now and Bilge left the team I close this issue

[2022-09-16 10:08] #320 closed

[2022-09-16 10:13] casruger commented on #323
This gets picked up with Arvind in issue #368

[2022-09-16 10:13] #323 closed

[2022-09-16 10:14] casruger commented on #321
This issue has been open since march and since Bilge left I close this issue

[2022-09-16 10:19] casruger commented on #317
Content is online https://tilburgsciencehub.com/building-blocks/collaborate-and-share-your-work/write-your-paper/overleaf/

[2022-09-16 10:19] #317 closed

[2022-09-16 11:19] casruger commented on #489
All channels are set up for two-step verification. If someone wants access that person needs to get added with their own login (in most cases e-mail address) by Hannes Datta which is the administrator on all channels.

[2022-09-16 11:19] #489 closed

[2022-09-16 11:21] casruger commented on #507
I am not sure what the status of issue #302 and #425 are. All other issues which Bilgi was assigned have been closed or given the correct status.

[2022-09-16 12:04] casruger opened #514 "[Development Call]: Tutorial getting started with Python"
### Contact Details

_No response_

### Is your content request related to a problem you've encountered during your research process? Please describe.

We have building blocks explaining parts of python, but have not yet written a tutorial on python like we have done with R: https://tilburgsciencehub.com/tutorials/code-like-a-pro/getting-started-with-r/getting-started-with-r-overview/.
I would sug

[2022-09-16 12:14] casruger opened #515 "[Development Call]: Tutorial how to get started with GitHub"
### Contact Details

_No response_

### Is your content request related to a problem you've encountered during your research process? Please describe.

We have a lot of content regarding GitHub and how to use its different functions of it. However, I noticed that getting used to GitHub can be overwhelming and hard. Therefore, I would suggest writing a tutorial explaining what GitHub is, where it c

[2022-09-16 12:19] casruger commented on #381
Made seperate issues of the tutorials which have not yet been written out

[2022-09-16 12:19] #381 closed

[2022-09-16 12:35] casruger opened #516 "[Development Call]: Add Jupyter Notebook on the site"
### Contact Details

_No response_

### Is your content request related to a problem you've encountered during your research process? Please describe.

A lot of Data Science and Marketing Analytics courses used Jupyter Notebook, since it is an easy tool to learn Python. However, we have no content regarding Jupyter Notebook. I think adding a building block on how to set up Jupyter Notebook could b

[2022-09-16 12:46] #420 closed

[2022-09-16 12:46] #369 closed

[2022-09-16 12:47] casruger commented on #431
For a potential a4 sheet get inspired by #379

[2022-09-16 12:48] casruger commented on #379
Wil continue in issue #431

[2022-09-16 12:48] #379 closed

[2022-09-16 12:48] casruger commented on #451
Get continued in issue #431

[2022-09-16 12:48] #451 closed

[2022-09-16 12:51] casruger commented on #445
As far as I know Lachlandeer has picked this up, so we can close this issue correct @hannesdatta ?

[2022-09-16 12:54] casruger commented on #422
Since the Customer Analytics case will not get picked up, this plan will be delayed till then.

[2022-09-16 12:54] #422 closed

[2022-09-16 12:58] hannesdatta opened #517 "Update build packages on Netlify"
We use Netlify to deploy all of our sites.

### What happened?

Sites will stop building in November - we need to update the Netlify build images for all sites.

![image](https://user-images.githubusercontent.com/16557730/190643839-6de8f469-8b89-479c-ae7e-f6829954eae1.png)

See here for the instructions:

https://answers.netlify.com/t/please-read-end-of-support-for-xenial-build-image-everything-yo

[2022-09-16 13:06] casruger commented on #334
We are added to this page https://www.tilburguniversity.edu/students/skills

[2022-09-16 13:06] #334 closed

[2022-09-16 13:07] hannesdatta opened #518 "Verify whether we can get a Netlify open source license"
We currently use Netlify but need to pay to add (technical) team members.

However, Netlify has an open source program so we could make use of their features for free.

__Deliverables:__
- Please evaluate whether we qualify for such a plan.
- If not: come up w/ action points what we would have to do to conform.
- If yes: fill in application (or be in touch with me if we need to do something else).

[2022-09-16 14:17] #445 closed

[2022-09-16 14:17] casruger commented on #507
All members have their own board, and assigning the open tasks will be done in our scrum meetings.

[2022-09-16 14:18] casruger opened #519 "Continues marketing"
This issue covers the continues marketing such as advertisements and LinkedIn + Twitter posts

[2022-09-16 14:23] casruger commented on #519
Twitter + LinkedIn:
All upcoming and past LinkedIn and Twitter posts can be found here:
https://docs.google.com/document/d/1YLBRyNvWm3GsV4crrqebW8tuJIOO-HE3z10uwFsctLI/edit?usp=sharing

Meet the team posts:

[2022-09-16 14:25] casruger commented on #345
Will continue in issue #519

[2022-09-16 14:25] #345 closed

[2022-09-16 14:26] casruger commented on #519
Google advertisement:

![Image](https://user-images.githubusercontent.com/51459017/190662336-99c2efdf-9cf7-4fbc-b227-c21fdc248e50.png)

[2022-09-16 14:37] casruger commented on #519
Instagram and Facebook:

[2022-09-16 14:37] casruger commented on #461
Will continue in issue #519

[2022-09-16 14:37] #461 closed

[2022-09-16 14:37] casruger commented on #372
We continue this issue in #519

[2022-09-16 14:37] #372 closed

[2022-09-16 14:42] casruger commented on #450
This issue wil continue in #519

[2022-09-16 14:42] #450 closed

[2022-09-17 13:13] casruger commented on #431
Physical ideas:
- replacing the coffeecups in vending machines with cups with our own customized printing ~ 250,- for 1000 cups https://www.cupsz.com/nl/products/225-ml-8-oz-enkelwandig
- Banner on the bridge to the library 200cm x 100cm ~40,-
- Notepad with 25 pages (to hand out during offline events) 110,- 50 books
- Pens 60,- 50 pens
- Mug 80,- 10 mugs
- Doorhanger 110,- 100  doorhangers
- Wine

[2022-09-19 12:24] casruger commented on #499
Seems like this stil does not work half of the time.

[2022-09-19 12:43] casruger commented on #473
After fixing the header bug and desyncing a lot of scripts we are back at a score of 77.
![image](https://user-images.githubusercontent.com/51459017/191019853-79c9f228-5316-42ed-9c79-e9dea7616fff.png)

[2022-09-19 12:44] casruger commented on #499
Issue has been fixed by removing the async of loading jsquary. Site performance dropped a bit from 82 with the bug to 77 without the bug. But it is fixed now

[2022-09-19 12:44] #499 closed

[2022-09-20 09:29] casruger commented on #473
Our core vitality for mobile dropped to 'need improvement' again. Therefore I re-open this issue

[2022-09-20 13:28] casruger opened #522 "Check broken links and resolve them"
We have multiple broken links which decrease our SEO score.
Either link them to the correct pages or change the links.

[2022-09-22 12:17] juliehabets commented on #518
@casruger i can pick this up!

[2022-09-22 18:14] #492 closed

[2022-09-24 16:41] casruger opened #524 "Check title and description length for new pull requests"
GitHub has the option to add checks for new pull requests. We could use this to check the length of titles and descriptions and improve our SEO that way.

[2022-09-24 16:46] casruger commented on #522
Fixed 20 broken links found by google search console

[2022-09-24 16:57] casruger opened #525 "Check advertisement on stackoverflow"

[2022-09-26 10:18] MKT-Analytics commented on #168
Should this issue be closed?
https://tilburgsciencehub.com/building-blocks/prepare-your-data-for-analysis/data-preparation/large-datasets-r/

[2022-09-26 10:48] juliehabets commented on #518
@hannesdatta i looked into this and have only 1 action point to check. One requirement for Netlify open source is the following:

- Must feature a link to our service on your main page, or all internal pages.  You have two options:
1. We have premade badges for your convenience
2. You may create your own link, which should read “This site is powered by Netlify”, and include a link back to our home

[2022-09-26 11:04] MKT-Analytics opened #528 "[Development Call]: Import Large Datasets Into Python"
### Is your content request related to a problem you've encountered during your research process? Please describe.

When I was working with a large dataset - larger than my RAM, I was not able to read this dataset with the use of pandas due to memory error. I could try using AWS services, but I was searching for a quicker solution.

### Would you like this to be a Building Block or a Tutorial?

Bu

[2022-09-27 14:45] lachlandeer opened #529 "[Q]: Summary of user interactions with site"
### Contact Details

lachlan.deer@gmail.com

### Shoot!

To get a handle on a potential cleaner way to present the volume of material we have on here, we need a better understanding of how people interact with the site ...

Which pages are viewed most?
How do users progress through the site in a visit?
For returning users, what do they come back looking for?

It would be great to build up a report

[2022-09-29 05:30] heyarviind commented on #410
I have checked for ```web-scraping.org``` and it is working just fine @casruger can you please double check on your side?

[2022-10-03 09:45] casruger commented on #518
@juliehabets, a badge in the footer is the most aesthetically pleasing option I think.
The best option in my opinion is below our copyright (see first screenshot) .

![Image](https://user-images.githubusercontent.com/51459017/193547474-4be30d97-a382-428e-88bc-ca664522776b.png)

But we can also have it next to our disclaimer.

![Image](https://user-images.githubusercontent.com/51459017/193547966-28

[2022-10-03 10:02] casruger commented on #491
Made a small presentation about our ad spent and what the effectiveness has been. Could use our findings to come up with the next steps. https://docs.google.com/presentation/d/1D4d4Lo0MuHEnTpNYdcuC8zVM_7ezpj0F/edit?usp=sharing&ouid=117986693098938196251&rtpof=true&sd=true

[2022-10-03 11:51] juliehabets commented on #518
@casruger I think both look good, so for me you can go with your preferred one! Let me know when it is added online :)

[2022-10-03 18:05] juliehabets opened #531 "Getting mini grants for research computing"

[2022-10-08 09:54] casruger commented on #518
@juliehabets the badge is added and online. Good luck with the request!

[2022-10-08 09:55] casruger commented on #522
Fixed al 404 and 403 errors with #526

[2022-10-08 09:55] #522 closed

[2022-10-08 10:11] casruger opened #533 "Use search requests as content requests for non found pages"
In corperate no findings search requests for new content

[2022-10-08 10:12] casruger opened #534 "Look at A/B test Netlify"

[2022-10-08 11:00] #343 closed

[2022-10-08 11:00] #396 closed

[2022-10-08 11:03] #491 closed

[2022-10-08 13:52] casruger commented on #529
@lachlandeer I made a quick overview of the requested content to give you an idea of what you can find in Google Analytics.

https://docs.google.com/presentation/d/1D4d4Lo0MuHEnTpNYdcuC8zVM_7ezpj0F/edit?usp=sharing&ouid=117986693098938196251&rtpof=true&sd=true

It is hard to make one dashboard for this since it is relatively specific information you will need from different types of (in analytics)

[2022-10-10 07:56] juliehabets commented on #518
@casruger request is done! Who admins the TSH email? (i had to submit the email as well so I chose that one)

[2022-10-10 08:39] hannesdatta commented on #518
I asked IT to add you to the inbox, @juliehabets!

[2022-10-10 16:42] juliehabets opened #539 "Sticky menu bar"

[2022-10-10 16:45] juliehabets opened #540 "PowerBI & Tableau building block idea"

[2022-10-10 18:14] srosh2000 opened #541 "[Development Call]: Building block on a collection of text analysis tools"
### Contact Details

_No response_

### Is your content request related to a problem you've encountered during your research process? Please describe.

I recently stumbled upon ConvoKit and Named Entity Recognition (NER) which are some NLP tools useful for different types of texts depending on the purpose of analysis. This is a good starting point to accumulate info on different NLP related tools

[2022-10-11 13:49] juliehabets commented on #518
Looks like it worked, however Netlify responded this:

_Hi there,

In order to sponsor a team for this project we need a netlify login to attach things to  - would you or someone on your team let us know a Netlify login email that should be the initial team owner?  They'll be able to invite other owner-level members.

You can find your login email at https://app.netlify.com/user/settings in case y

[2022-10-13 08:50] MKT-Analytics commented on #540
@juliehabets [https://www.tableau.com/academic/students](https://www.tableau.com/academic/students) that's what I meant in the meeting

[2022-10-13 09:00] MKT-Analytics commented on #254
@juliehabets I'm checking the issues and some of them are pretty old and probably not relevant anymore/solved. To make the board tidier, we can consider closing some of them. I'll just tag you so you can make the final decisions.

[2022-10-13 12:10] hannesdatta commented on #254
Please ensure we do not consider issues "closed" simply because they are old. Maybe bundle them and then discuss w/ me or Tobi whether we see a prior on this. Ok?

[2022-10-13 20:59] hannesdatta opened #542 "[Development Call]: Public API with documentation to learn data retrieval w/ APIs"
### Contact Details

h.datta@tilburguniversity.edu

### Is your content request related to a problem you've encountered during your research process? Please describe.

To train students in data retrieval with APIs, I require a publicly available API w/ documentation that students can use to "try" out an API.

__Desired features__
- the whole thing runs in docker so we can launch it flexibly on VMs

[2022-10-13 21:02] hannesdatta commented on #542
@thierrylahaije - maybe something for you? Gotta discuss priorities here w/ @juliehabets I guess, but I feel you may be interested in this.

[2022-10-14 07:21] juliehabets commented on #540
@MKT-Analytics thanks for the link!! Somewhere next week you can expect the draft i think

[2022-10-14 10:57] paulina-ambroziak opened #543 "[Development Call]: Filling in PDF forms using Python"
### Contact Details

_No response_

### Is your content request related to a problem you've encountered during your research process? Please describe.

Each month, we must complete several forms, which takes time. Making it automatic will save us time and effort.

### Additional context

_No response_

### Would you like this to be a Building Block or a Tutorial?

_No response_

### Purpose

How t

[2022-10-14 11:03] thierrylahaije commented on #542
@hannesdatta definetely interested in this project!

[2022-10-16 19:28] casruger opened #549 "[Development Call]: Building block explaining Dask with a simple analytics task"
### Contact Details

_No response_

### Is your content request related to a problem you've encountered during your research process? Please describe.

As follow up on the feedback from pull request #538

A post that uses Dask in a simple analytics task ... same things that pandas can do, but to highlight differences in implementation / syntax

Essentially "Dask in Action" ... perhaps some simple

[2022-10-21 08:13] hannesdatta opened #550 "Update thumbnails"
### Contact Details

h.datta@tilburguniversity.edu

### Shoot!

We have a much broader pool of contributors these days. Update?

![image](https://user-images.githubusercontent.com/16557730/197147202-7d35424d-bf6a-4990-9aa8-3e03c6a7f1c3.png)

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-23 14:28] casruger opened #561 "Add strucuted data do the website"
We currently have no structured data. This might help our SEO https://developers.google.com/search/docs/appearance/structured-data/intro-structured-data

[2022-10-23 14:28] casruger commented on #561
Added search data and our organisation data

[2022-10-23 14:28] #561 closed

[2022-10-23 14:30] casruger commented on #510
Continue to improve our seo by working on the docs: https://docs.google.com/document/d/1xn2WrfSM5kGgGkQ44Uj-3Elt2g4UsYUL/edit?usp=sharing&ouid=117986693098938196251&rtpof=true&sd=true

[2022-10-23 14:31] casruger commented on #518
Received the open source license

[2022-10-23 14:31] #518 closed

[2022-10-23 14:34] casruger opened #562 "Add SEO checklist"
It is currently not clear what writers have to do/include to have a well SEO performing tutorial or building block. Maybe add somechecklist on the contributed page

[2022-10-31 16:05] #562 closed

[2022-11-01 09:16] hannesdatta opened #566 "link to https://www.makeareadme.com"
Just came across this resource to make readme's for repositories. Let's mention/link to it in our building blocks on writing readmes!

[2022-11-10 18:38] casruger commented on #410
Hi Arvind, it seems like there might still be a problem. If I visit the site I do not see a visit in Google Analytics. See screenshot of "users in the last 30 minutes" being empty even tho I have the website open in another tab.
<img width="956" alt="image" src="https://user-images.githubusercontent.com/51459017/201179024-14ad3dbf-d5d6-4811-935b-ebb38aad10df.png">

[2022-11-22 15:47] thierrylahaije opened #571 "Datacamp Light Demo"
Datacamp Light will be tested to see whether it can be used to create exercises for students.
Below I included a demo.html file which contains the basics of Datacamp Light. There is no additional styling in this demo file, just the Datacamp Light exercise shell.

You can find the demo over here:
[demo.zip](https://github.com/tilburgsciencehub/website/files/10068911/demo.zip)

Further information o

[2022-11-22 15:49] thierrylahaije commented on #571
@hannesdatta can you check if this demo.html can be rebuild for Rmd as well?

[2022-11-25 13:22] casruger commented on #510
**Deliverable:**
Before and after of increase in seo score.

[2022-11-25 13:24] casruger commented on #519
Deliverable:
Report of new visitors (do they still stay)
What are the effects if we stop right now

[2022-11-25 13:26] casruger commented on #431
Deliverables:
Uitschrijven mogelijkheden en keuze Tobi and Hannes

[2022-11-25 13:30] hannesdatta opened #572 "add broken link checker to our site"
Hi @thierrylahaije,

I tried to look for the broken link checker but it seems not to be activated on our site.

Can you please add it to our site?

Thanks!

[2022-11-25 13:39] casruger commented on #349
Mail program directer to get mentioned

[2022-11-25 13:59] casruger commented on #335
A reminder mail has been sent

[2022-11-25 14:01] #351 closed

[2022-11-25 14:02] casruger commented on #352
We have been more and more active on Twitter, but this issue is less relevant for now

[2022-11-25 14:02] #352 closed, assigned to casruger

[2022-11-25 14:02] casruger commented on #357
The community has been left quiet and is therefore not really that interesting for us. If the community becomes active this idea can still be activated

[2022-11-25 14:02] #357 closed

[2022-11-25 15:02] thierrylahaije commented on #572
Hi @hannesdatta,

Just created a new repository and pushed everything. It is now in here:
https://github.com/tilburgsciencehub/broken-link-checker/

During testing I found out that I am no longer able to create secrets on organizational level (I cannot enter the settings tab of the organization), which makes the script currently unable to create issues. Therefore I cannot set and check the organiz

[2022-11-25 15:33] casruger commented on #376
We are running a/b tests from Netlify using this feature

[2022-11-25 15:33] #376 closed

[2022-11-25 15:33] casruger commented on #411
Works correctly

[2022-11-25 15:33] #411 closed

[2022-11-29 06:27] heyarviind commented on #368
@hannesdatta @hannesdatta

Can you please generate an API key so that I can start calling GA API for the same?

You can generate one here https://console.cloud.google.com/

[2022-11-29 08:49] hannesdatta commented on #368
I've replied to your email w/ the key - pls check whether it works as intended.

[2022-11-29 11:51] hannesdatta commented on #368
Makes a lot of sense. Thanks. We don't have a dedicated server but host everything fully on Netlify. Can you explore the Netlify documentation what's possible/